<p-toast></p-toast>
<h1 class="game-title">Mines</h1>
<div class="container">
  <p-card class="info-card" [style]="styleInfoCard">
    <div class="game-controls">
      <h2>Game Controls</h2>
      <div class="control-item">
        <label for="currency">Currency: </label>
        <p-dropdown [options]="currencyOptions" [(ngModel)]="selectedCurrency" placeholder="Select a Currency" optionLabel="label" [style]="styleBox">
          <ng-template let-item pTemplate="selectedItem">
            {{ item.code }}
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="currency-item">
              {{ item.code }}
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="control-item">
        <label for="betAmount">Bet Amount:</label>
        <div style="display: flex; align-items: center;">
          <input pInputText type="number" [(ngModel)]="betAmount" [style]="styleBox" />
          <button pButton type="button" label="Max" class="max-button" (click)="setMaxBet()" style="margin-left: 10px;"></button>
        </div>
      </div>
      <div class="control-item">
        <label for="numBombs">Number of Bombs:</label>
        <p-dropdown [options]="bombOptions" [(ngModel)]="numBombs" placeholder="Select Number of Bombs" [style]="styleBox"></p-dropdown>
      </div>
      <div class="control-buttons">
        <button pButton type="button" label="Start Game" (click)="startGame()" [disabled]="gameActive" class="control-button"></button>
        <button pButton type="button" [label]="gameActive ? 'Cash Out (' + potentialWinnings + ' ' + selectedCurrency?.code + ')' : 'Cash Out'" (click)="cashOut()" [disabled]="!gameActive || gameOver" class="control-button"></button>
      </div>
    </div>
  </p-card>

  <p-card class="board-card" [style]="styleBoard">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let cell of board; let i = index" (click)="onCellClick(i)">
        <p-card [style]="styleSmallCard">
          <ng-template pTemplate="content">
            <img *ngIf="cell === 'G'" src="assets/mines/gem2.png" alt="Gem" class="game-image" [style]="styleGem" />
            <img *ngIf="cell === 'B'" src="assets/mines/bomb2.png" alt="Bomb" class="game-image" [style]="styleBomb" />
          </ng-template>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
