:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f9f9f9;
  --board-background-color: #f9f9f9;
  --small-card-background-color: #ffffff;
  --info-card-background-color: #ffffff;
  --button-background-color: #ffffff;
  --button-icon-color: #000000;
  --button-hover-background-color: #f0f0f0;
  --navbar-background-color: #ffffff;
  --navbar-text-color: #000000;
  --label-text-color: #495057;
  --nav-bar-background-color: #cfcdcd52;
  --nav-text-color: #495057;
  --box-background-color: #ffffff;
  --box-text-color: #495057;
}

[data-theme='dark'] {
  --background-color: #1d1d1d;
  --text-color: #ffffff;
  --card-background-color: #2e2e2e;
  --board-background-color: #242424;
  --small-card-background-color: #2e2e2e;
  --info-card-background-color: #1d1d1d;
  --button-background-color-dark: #333333;
  --button-icon-color-dark: #f9f9f9;
  --button-hover-background-color-dark: #444444;
  --navbar-background-color: #333333;
  --navbar-text-color: #f9f9f9;
  --label-text-color: #ffffff;
  --nav-bar-background-color: #2e2e2e;
  --nav-text-color: #ffffff;
  --box-background-color: #2e2e2e;
  --box-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

p-card {
  background: var(--card-background-color);
}

.navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
}

.toggle-theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  width: 40px;  
  height: 40px;  
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background-color, #ffffff);  
  color: var(--button-icon-color, #000000); 
}

.toggle-theme-button:hover {
  background-color: var(--button-hover-background-color, #f0f0f0);
}

[data-theme='dark'] .toggle-theme-button {
  background-color: var(--button-background-color-dark, #333333);
  color: var(--button-icon-color-dark, #f9f9f9);
}

[data-theme='dark'] .toggle-theme-button:hover {
  background-color: var(--button-hover-background-color-dark, #444444);  /* Dark mode background color on hover */
}
