<div class="bank-container">
  <h1>
    <i class="pi pi-building-columns" style="margin-right: 10px;"></i> Bank
  </h1>

  <table class="currency-balances">
    <thead>
      <tr>
        <th *ngFor="let currency of currencies">{{ currency.code }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let currency of currencies">
          {{ balances[currency.code] | number }}
          <i [class]="currency.icon"></i>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="currency-selection">
    <label for="currency">Select Currency: </label>
    <p-dropdown 
      [options]="currencyOptions" 
      [(ngModel)]="selectedCurrency" 
      optionLabel="label" 
      [placeholder]="getCurrencyPlaceholder()" 
      (onChange)="onCurrencyChange($event)" 
      [style]="styleBox">
      <ng-template let-item pTemplate="selectedItem">
        <i></i> {{ selectedCurrency.code }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="currency-item">
          <i></i> {{ item.label }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="money-actions" *ngIf="selectedCurrency && selectedCurrency.amounts">
    <div class="add-money">
      <h2>Add Money</h2>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <ng-container *ngFor="let amount of selectedCurrency.amounts">
            <button pButton type="button" label="+{{ amount | number }} {{ selectedCurrency.code }}" (click)="addMoney(amount)" class="p-button-success"></button>
          </ng-container>
        </div>
      </p-toolbar>
    </div>

    <div class="remove-money">
      <h2>Remove Money</h2>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <ng-container *ngFor="let amount of selectedCurrency.amounts">
            <button pButton type="button" label="-{{ amount | number }} {{ selectedCurrency.code }}" (click)="removeMoney(amount)" class="p-button-danger"></button>
          </ng-container>
        </div>
      </p-toolbar>
    </div>
  </div>
</div>
